In [1]:
import sqlite3
import pandas as pd

In [2]:
import sqlite3
conn = sqlite3.connect('cdr_database.db')
c = conn.cursor()

In [4]:
# c.execute('''DROP TABLE Cdr''')

In [5]:
# c.execute('''CREATE TABLE Cdr(FullPhoneNumber int NOT NULL Primary Key , Date text, Duration int)''')

In [5]:
data = pd.read_csv('Cdr_merged_data.csv')

In [6]:
data = data.drop("Unnamed: 0",axis=1)

In [7]:
data

         FullPhoneNumber                 Date  Duration
0           9.788367e+09  2021-01-02 15:04:58      0.00
1           6.316652e+09  2021-01-02 15:04:59     29.00
2           9.736973e+09  2021-01-02 15:04:59     33.00
3           5.167999e+09  2021-01-02 15:04:59     34.00
4           8.503003e+09  2021-01-02 15:04:59      0.00
...                  ...                  ...       ...
3970537     1.615715e+10      1/20/2021 15:50      7.69
3970538     1.519728e+10      1/20/2021 15:50      2.21
3970539     1.412836e+10      1/20/2021 15:50      2.58
3970540     1.615500e+10      1/20/2021 15:50      2.15
3970541     1.609307e+10      1/20/2021 15:50      0.04

[3970542 rows x 3 columns]

In [7]:
data['FullPhoneNumber']=data['FullPhoneNumber'].astype(str)

In [9]:
data['FullPhoneNumber'].dtype

dtype('O')

In [10]:
data['FullPhoneNumber']

0           9788367424.0
1           6316652128.0
2           9736973406.0
3           5167998519.0
4           8503002557.0
               ...
3970537    16157147558.0
3970538    15197283494.0
3970539    14128358218.0
3970540    16155000761.0
3970541    16093065506.0
Name: FullPhoneNumber, Length: 3970542, dtype: object

In [8]:
data['Date'] = data['Date'].astype(str)

In [12]:
data['Date'].dtype

dtype('O')

In [9]:
data['Duration'] = data['Duration'].astype(int)

In [10]:
# date_list = data['Date'].to_list()

# # dfnew['call_time'][0][3:25]
# # date_time =  [i[3:25] and i[0:20].replace(" ","") for i in list1]
# date =  [i[0:10].replace('/','-') for i in date_list]

In [11]:
# import datetime
# date_new_list = []
# count = 0
# for i in date:
#     d = datetime.datetime.strptime(i, '%Y-%m-%d')
#     date_new_list.append(datetime.date.strftime(d, "%Y-%m-%d"))
#     print(str(count)+' new date has been appended '+ str(date_new_list[count])+ ' to new list')
#     count+=1

In [6]:
# data.to_sql('Cdr', conn, if_exists='append', index = False)

In [3]:
sql = pd.read_sql('''SELECT * FROM Cdr
                    LIMIT 100''',conn)
sql

    FullPhoneNumber                 Date  Duration
0        9788367424  2021-01-02 15:04:58         0
1        6316652128  2021-01-02 15:04:59        29
2        9736973406  2021-01-02 15:04:59        33
3        5167998519  2021-01-02 15:04:59        34
4        8503002557  2021-01-02 15:04:59         0
..              ...                  ...       ...
95       6143544874  2021-01-02 15:05:34         0
96       9038063719  2021-01-02 15:05:35         0
97       7575152291  2021-01-02 15:05:36         0
98       4103675357  2021-01-02 15:05:39         5
99       8644266171  2021-01-02 15:05:39         0

[100 rows x 3 columns]

In [7]:
sql = pd.read_sql('''SELECT Count(FullPhoneNumber) FROM Cdr''',conn)
sql

   Count(FullPhoneNumber)
0                 3970542

In [5]:


# import os
# list_of_dir = os.listdir(r'Z:\Muhammad Aaqib\cdr_data')
# list_of_iter = iter(list_of_dir)

In [6]:
# for i in range(len(list_of_dir)):
#     df = pd.read_csv(os.path.join("Z:\Muhammad Aaqib\cdr_data" ,str(next(list_of_iter))))
#     df=df[['date',
#              'dst_number',
#              'duration'
#              ]]
#     df.rename(columns = {'date':'Date','dst_number':'FullPhoneNumber','duration':'Duration'}, inplace = True)
#     df['FullPhoneNumber']=df['FullPhoneNumber'].astype(str)
#     df=df[df['FullPhoneNumber'] != 'nan']
#     df['Date']=df['Date'].astype(str)
#     df['Duration']=df['Duration'].astype(str)
#     df=df[df['Duration'] != 'nan']
#     df=df.drop_duplicates('FullPhoneNumber').sort_index()
#     df.to_sql('Cdr', conn, if_exists='append', index = False)
#     print(i+1, df.shape, list_of_dir[i], 'Appended to Database')
# print('All csv are successfully appended')

C:\Users\trainee8\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

1 (479591, 3) 2021-01-02.csv Appended to Database
2 (607456, 3) 2021-03-01.csv Appended to Database
3 (1400870, 3) 2021-04-20.csv Appended to Database
4 (797683, 3) 2021-05-03.csv Appended to Database
5 (2805, 3) 2021-06-30.csv Appended to Database
6 (163903, 3) 2021-07-30.csv Appended to Database
7 (151205, 3) 2021-08-02.csv Appended to Database

C:\Users\trainee8\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

8 (432200, 3) cdr (2).csv Appended to Database
9 (1852, 3) cdr (3).csv Appended to Database

C:\Users\trainee8\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

10 (434454, 3) cdr_cleaned.csv Appended to Database
All csv are successfully appended

In [7]:
# sql_query = pd.read_sql_query('''SELECT * FROM Cdr''',conn)
# df = pd.DataFrame(sql_query).drop_duplicates('FullPhoneNumber').sort_index()

In [13]:
# df=df.reset_index(drop = True)
# df.to_csv('Cdr_merged_data.csv')

In [19]:
# sql = pd.read_sql('''SELECT FullPhoneNumber,Date,Duration FROM Cdr
#                      Order By FullPhoneNumber''',conn)
# sql

         FullPhoneNumber             Date  Duration
0           1.309912e+06  8/10/2021 19:47     0.000
1           1.310686e+06  8/10/2021 20:30     0.000
2           1.310766e+06  8/10/2021 19:46     0.000
3           1.312292e+06  8/10/2021 20:21     0.000
4           1.312346e+06  8/10/2021 19:46     0.000
...                  ...              ...       ...
4682839     1.833720e+11  6/30/2021 23:03    43.118
4682840     1.412300e+12  1/19/2021 16:41    12.490
4682841     1.559980e+12  6/30/2021 21:57     0.000
4682842     1.218750e+13  6/30/2021 20:56    11.031
4682843     1.225220e+78   7/1/2021 18:52     0.000

[4682844 rows x 3 columns]

In [10]:
# c.execute('''CREATE TABLE Cdr_Unique( FullPhoneNumber int Primary key, Date text, Duration int)''')

In [34]:
# c.execute('''INSERT INTO Cdr_Unique SELECT Distinct Cdr.FullPhoneNumber,Date,Duration FROM Cdr 
#             Order By FullPhoneNumber''')