In [7]:
import sqlite3
import pandas as pd

In [8]:
import sqlite3
conn = sqlite3.connect('my_database.db')
c = conn.cursor()

In [3]:
#  c.execute('''DROP TABLE merged_table''')

In [3]:
c.execute('''CREATE TABLE merged_table (FullPhoneNumber text,state text,cityname text,persongender  text,personexactage text,personmaritalstatus text,traveler text,ZipCode text,investment text,estimatedincomecode text,timezone text,DONOTCALL text,"PresenceOfCreditCard" text,CreditRating  text )''')

In [12]:
c.execute('''CREATE TABLE merged_table_1 (FullPhoneNumber text,state text,cityname text,persongender  text,personexactage text,personmaritalstatus text,traveler text,ZipCode text,investment text,estimatedincomecode text,timezone text,DONOTCALL text,"PresenceOfCreditCard" text,CreditRating  text )''')

In [ ]:
# c.execute('''INSERT INTO merged_table SELECT * FROM table_2018''')

In [13]:
c.execute('''INSERT INTO merged_table_1 SELECT * FROM table_2018 
                                    UNION
                                    SELECT * FROM table_2021''')

OperationalError: disk I/O error

In [34]:
# pd.read_sql('''SELECT * FROM merged_table
#              LIMIT 10''',conn)

In [35]:
# # ATTACH DATABASE file_name AS new_db;
# c.execute('''USE my_database''')

In [12]:
# c.execute('''ATTACH DATABASE my_database1 AS merge_db''')

In [13]:
# c.execute('''CREATE TABLE merge_db.merged_table(FullPhoneNumber text,state text,cityname text,persongender  text,personexactage text,personmaritalstatus text,traveler text,ZipCode text,investment text,estimatedincomecode text,timezone text,DONOTCALL text,"PresenceOfCreditCard" text,CreditRating  text);''')

In [19]:
# c.execute('''INSERT INTO merge_db.merged_table SELECT * FROM table_2018''')

In [4]:
c.execute('''INSERT INTO merged_table SELECT * FROM table_2018''')

In [20]:
# c.execute('''INSERT INTO merge_db.merged_table SELECT * FROM table_2021''')

In [5]:
c.execute('''INSERT INTO merged_table SELECT * FROM table_2021''')

In [11]:
sql_File=pd.read_sql('''SELECT * FROM merged_table
                       LIMIT 10''',conn)
sql_File

Empty DataFrame
Columns: [FullPhoneNumber, state, cityname, persongender, personexactage, personmaritalstatus, traveler, ZipCode, investment, estimatedincomecode, timezone, DONOTCALL, PresenceOfCreditCard, CreditRating]
Index: []