In [30]:
import sqlite3
import pandas as pd

In [31]:
import sqlite3
conn = sqlite3.connect('my_database.db')
c = conn.cursor()

In [3]:
 c.execute('''DROP TABLE merged_table''')

In [18]:
c.execute('''CREATE TABLE merged_table (FullPhoneNumber text,state text,cityname text,persongender  text,personexactage text,personmaritalstatus text,traveler text,ZipCode text,investment text,estimatedincomecode text,timezone text,DONOTCALL text,"PresenceOfCreditCard" text,CreditRating  text )''')

In [ ]:
# c.execute('''INSERT INTO merged_table SELECT * FROM table_2018''')

In [32]:
# c.execute('''INSERT INTO merged_table SELECT * FROM table_2018 
#                                     UNION
#                                     SELECT * FROM table_2021''')

In [34]:
# pd.read_sql('''SELECT * FROM merged_table
#              LIMIT 10''',conn)

In [35]:
# # ATTACH DATABASE file_name AS new_db;
# c.execute('''USE my_database''')

In [12]:
c.execute('''ATTACH DATABASE my_database1 AS merge_db''')

In [13]:
c.execute('''CREATE TABLE merge_db.merged_table(FullPhoneNumber text,state text,cityname text,persongender  text,personexactage text,personmaritalstatus text,traveler text,ZipCode text,investment text,estimatedincomecode text,timezone text,DONOTCALL text,"PresenceOfCreditCard" text,CreditRating  text);''')

In [19]:
c.execute('''INSERT INTO merge_db.merged_table SELECT * FROM table_2018''')

In [20]:
c.execute('''INSERT INTO merge_db.merged_table SELECT * FROM table_2021''')

In [38]:
sql_File=pd.read_sql('''SELECT * FROM merge_db.merged_table
                       LIMIT 10''',conn)
sql_File

DatabaseError: Execution failed on sql 'SELECT * FROM merge_db.merged_table
                       LIMIT 10': no such table: merge_db.merged_table