In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
tony_db_2021 = pd.read_csv(r'\\192.168.88.18\oddtech\AIDAILER\byjoinmethod_tony_db2021pluscdr2021.csv')

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
tony_db_2021.head(3)

,Unnamed: 0,FullPhoneNumber,cityname,state,ZipCode,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Litigator,datetime,duration,day,responsive
0,0,8085360276,Honolulu,HI,96817,61.0,0,M,A,-1.0,-1.0,1.0,0,0,0,0,2021-08-26 20:40:04,0,Thursday,0
1,1,8086769544,Honolulu,HI,96818,55.0,0,O,D,-1.0,-1.0,1.0,0,0,0,0,2021-08-25 20:59:26,0,Wednesday,0
2,2,8084974246,Honolulu,HI,96818,64.0,1,M,F,-1.0,-1.0,1.0,0,0,0,0,2021-08-27 17:48:00,0,Friday,0

In [ ]:
tony_db_2021.head()

In [ ]:
tony_db_2021['datetime']

In [5]:
fortrainData = tony_db_2021[['state','personexactage','IsMobile','estimatedincomecode' ,'day', 'duration']]
fortrainData.head()

  state  personexactage  IsMobile estimatedincomecode        day  duration
0    HI            61.0         0                   M   Thursday         0
1    HI            55.0         0                   O  Wednesday         0
2    HI            64.0         1                   M     Friday         0
3    HI            74.0         0                   N     Friday       277
4    HI            74.0         0                   N    Tuesday         0

In [6]:
len(fortrainData.isnull())

1228277

# Removing Unknown Values

In [7]:
fortrainData = fortrainData[fortrainData['estimatedincomecode'] != 'U']

In [8]:
fortrainData = fortrainData[fortrainData['personexactage'] != 'U']

In [9]:
fortrainData = fortrainData[fortrainData['state'] != 'U']

In [10]:
fortrainData = fortrainData[fortrainData['day'] != 'U']

In [11]:
fortrainData = fortrainData[fortrainData['duration'] != 'U']

In [12]:
fortrainData = fortrainData[fortrainData['IsMobile'] != 'U']

In [13]:
fortrainData.head()

  state  personexactage  IsMobile estimatedincomecode        day  duration
0    HI            61.0         0                   M   Thursday         0
1    HI            55.0         0                   O  Wednesday         0
2    HI            64.0         1                   M     Friday         0
3    HI            74.0         0                   N     Friday       277
4    HI            74.0         0                   N    Tuesday         0

In [14]:
fortrainData['personexactage'] = fortrainData['personexactage'].astype(int)

In [15]:
for_model= fortrainData.copy()

# Encoding State

In [16]:
print(fortrainData.groupby('state').size())
print(len(fortrainData.groupby('state')))
print(set(fortrainData['state']))

state
AK       347
AL    106803
AR     33284
AZ     47709
CO     43609
CT     64944
DC     11402
DE     15506
HI       381
IA     56757
ID     22016
KS     33475
KY     59665
ME     22163
MN     37748
MO     84111
MS     41072
MT     17607
ND      8322
NE     20167
NH     17128
NM     19020
NV     31510
OK     37069
OR     42186
RI     19726
SC     57622
SD      8365
TN     76462
UT     28847
WA     54034
WI     73930
WV     25077
WY      5488
dtype: int64
34
{'WA', 'KY', 'SC', 'TN', 'CO', 'MT', 'CT', 'DE', 'AR', 'NH', 'DC', 'RI', 'WV', 'HI', 'IA', 'KS', 'NV', 'OR', 'WI', 'SD', 'AL', 'OK', 'WY', 'NE', 'AK', 'MS', 'AZ', 'ID', 'MO', 'NM', 'ME', 'UT', 'MN', 'ND'}

### Indexing

In [17]:
fortrainData['state'].replace(to_replace = set(fortrainData['state']), value = np.arange(0,34), inplace = True)
fortrainData.groupby('state').size()

state
0      54034
1      59665
2      57622
3      76462
4      43609
5      17607
6      64944
7      15506
8      33284
9      17128
10     11402
11     19726
12     25077
13       381
14     56757
15     33475
16     31510
17     42186
18     73930
19      8365
20    106803
21     37069
22      5488
23     20167
24       347
25     41072
26     47709
27     22016
28     84111
29     19020
30     22163
31     28847
32     37748
33      8322
dtype: int64

### One-hot encoding state column

In [18]:
from tensorflow.keras.utils import to_categorical
state_encoded_data = to_categorical(fortrainData['state'])
state_encoded_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

# Encoding Income Data

In [19]:
print(fortrainData.groupby('estimatedincomecode').size())
print(len(fortrainData.groupby('estimatedincomecode')))
print(set(fortrainData['estimatedincomecode']))

estimatedincomecode
A     41257
B    139621
C     54703
D     30354
E     74349
F     32080
G     66151
H     35715
I     68935
J     41435
K     73067
L     49496
M     92943
N    185469
O    145576
P     19019
Q     26774
R     21629
S     24979
dtype: int64
19
{'Q', 'R', 'O', 'K', 'C', 'M', 'H', 'S', 'L', 'B', 'I', 'G', 'A', 'F', 'J', 'N', 'D', 'E', 'P'}

### Indexing Income data

In [20]:
fortrainData['estimatedincomecode'].replace(to_replace = set(fortrainData['estimatedincomecode']), value = np.arange(0,19), inplace = True)
fortrainData.groupby('estimatedincomecode').size()

estimatedincomecode
0      26774
1      21629
2     145576
3      73067
4      54703
5      92943
6      35715
7      24979
8      49496
9     139621
10     68935
11     66151
12     41257
13     32080
14     41435
15    185469
16     30354
17     74349
18     19019
dtype: int64

### One-hot encoding income column

In [21]:
from tensorflow.keras.utils import to_categorical
income_encoded_data = to_categorical(fortrainData['estimatedincomecode'])
income_encoded_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]], dtype=float32)

# Encoding Day Data

In [22]:
print(fortrainData.groupby('day').size())
print(len(fortrainData.groupby('day')))
print(set(fortrainData['day']))

day
Friday       233027
Monday       315966
Saturday      47914
Thursday     243315
Tuesday      221009
Wednesday    162321
dtype: int64
6
{'Friday', 'Thursday', 'Tuesday', 'Monday', 'Saturday', 'Wednesday'}

### Indexing day data

In [23]:
fortrainData['day'].replace(to_replace = set(fortrainData['day']), value = np.arange(0,6), inplace = True)
fortrainData.groupby('day').size()

day
0    233027
1    243315
2    221009
3    315966
4     47914
5    162321
dtype: int64

### One-hot encoding day column

In [24]:
day_encoded_data = to_categorical(fortrainData['day'])
day_encoded_data

array([[0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0.],
       ...,
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.]], dtype=float32)

In [25]:
day_encoded_data

array([[0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0.],
       ...,
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.]], dtype=float32)

In [26]:
print(len(state_encoded_data))
print(len(income_encoded_data))
print(len(day_encoded_data))
print(len(fortrainData['personexactage']))
print(len(fortrainData['IsMobile']))

1223552
1223552
1223552
1223552
1223552

In [27]:
state_encoded_data.shape,income_encoded_data.shape, day_encoded_data.shape

((1223552, 34), (1223552, 19), (1223552, 6))

In [28]:
train_data = fortrainData[['personexactage' , 'IsMobile']]
train_data

         personexactage  IsMobile
0                    61         0
1                    55         0
2                    64         1
3                    74         0
4                    74         0
...                 ...       ...
1228272              63         0
1228273              63         0
1228274              63         0
1228275              63         0
1228276              40         1

[1223552 rows x 2 columns]

# SPLITING DATA

In [29]:
from sklearn.model_selection import train_test_split

# Seperating Data "sklearn" buildin Model
X = train_data
# Seperating Variables
y = fortrainData['duration']

# Spliting Data into two type(train, test)
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state = 0)
print('Train Data',train_X,'\n Lenght of train Data', len(train_X))
print('Test Data',test_X,'\n Lenght of Test Data', len(test_X))

Train Data          personexactage  IsMobile
743254               54         0
40455                54         1
1097773              80         0
1226347              67         1
1131754              69         0
...                 ...       ...
361023               41         1
152796               68         0
967057               82         1
118308               69         1
306840               87         0

[917664 rows x 2 columns]
 Lenght of train Data 917664
Test Data          personexactage  IsMobile
126876               60         1
1163197              82         0
390985               52         1
857330               50         1
108431               70         1
...                 ...       ...
793413               70         1
1161681              82         0
938160               78         1
377433               87         0
896150               37         1

[305888 rows x 2 columns]
 Lenght of Test Data 305888

In [30]:
from sklearn.linear_model import LinearRegression

# Using Regression Model
regression = LinearRegression()
regression.fit(train_X, train_y)
print('Model Trained')

Model Trained

# Predicting Test Data

In [31]:
pred_test_data = regression.predict(test_X)

In [32]:
len(test_y)
test_y

126876      0
1163197    28
390985      8
857330      0
108431      0
           ..
793413      0
1161681     0
938160     11
377433      0
896150      0
Name: duration, Length: 305888, dtype: int64

In [33]:
len(pred_test_data)

305888

# Gathering Results

In [34]:
PredictDataFrame = pd.DataFrame(test_X)
PredictDataFrame

         personexactage  IsMobile
126876               60         1
1163197              82         0
390985               52         1
857330               50         1
108431               70         1
...                 ...       ...
793413               70         1
1161681              82         0
938160               78         1
377433               87         0
896150               37         1

[305888 rows x 2 columns]

In [35]:
PredictDataFrame['Predicted Duration'] = pred_test_data

In [36]:
PredictDataFrame['Actural Duration'] = test_y

In [37]:
PredictDataFrame

         personexactage  IsMobile  Predicted Duration  Actural Duration
126876               60         1           14.047771                 0
1163197              82         0           18.506239                28
390985               52         1           13.797626                 8
857330               50         1           13.735090                 0
108431               70         1           14.360452                 0
...                 ...       ...                 ...               ...
793413               70         1           14.360452                 0
1161681              82         0           18.506239                 0
938160               78         1           14.610597                11
377433               87         0           18.662580                 0
896150               37         1           13.328604                 0

[305888 rows x 4 columns]

# Predicting With new Dataset

In [38]:
age = 27
ismobile = 1

result = regression.predict([[age, ismobile]])
print("Score = {}".format(round(result[0],3)))

Score = 13.016